:root {
  --red-variant: #d03d40;
  --black-variant: #1c1c1c;
  --white: #ffffff;
  --white-variant: #f1f1f1;

  --headline-1: 6.125em;
  --headline-2: 3.8125em;
  --headline-3: 3.0625em;
  --headline-4: 2.1875em;
  --headline-5: 1.5em;
  --headline-6: 1.25em;
  --subtitle-1: 1em;
  --subtitle-2: 0.875em;
  --body-1: 1em;
  --body-2: 0.875em;
  --button: 0.875em;
  --caption: 0.75em;
  --overline: 0.625em;

  --fontTitle: "Raleway", sans-serif;
  --fontBody: "Roboto", sans-serif;

  --hCardInfo: 140px;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  font-size: 16px;
  box-sizing: border-box;
}

body {
  display: block;
  max-width: 100%;
  min-height: 100vh;
}

.grid {
  outline: 2px solid blue;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: repeat(3, auto);
  background: var(--white-variant);
}

.grid-header {
  grid-column: 1;
  grid-row: 1;
}

.grid-main {
  grid-column: 1;
  grid-row: 2;
}

.grid-footer {
  grid-column: 1;
  grid-row: 3;
}

/* Header */
.header {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  padding: 24px 16px;
  background: var(--white);
}

.logoUTP,
.iconMenu {
  position: absolute;
}

.iconMenu {
  right: 16px;
}

.logoUTP {
  left: 16px;
}

/* Main */

/* content cardsLink */
.content-cardsLink {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  column-gap: 16px;
  row-gap: 24px;
  padding: 24px 0;
}

.cardLink {
  flex: calc(100% / 2 - 32px);
  max-width: 140px;
  height: auto;
  padding: 24px 16px;
  background: var(--red-variant);
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.25);
  transition: all 0.4s ease;
}

.cardLink > a {
  display: block;
  text-decoration: none;
  font-size: var(--button);
  font-weight: 600;
  text-align: center;
  color: var(--white);
  font-family: var(--fontBody);
  transition: all 0.2s ease;
}

.cardLink:hover > a {
  text-decoration: underline;
  color: var(--red-variant);
}

.cardLink:hover {
  background: var(--white);
}

/* intro */
.intro {
  display: flex;
  flex-flow: column wrap;
  row-gap: 24px;
  padding: 24px 0;
  width: 100%;
}

.cardCopy {
  flex: calc(100% - 32px);
  min-width: calc(100% - 32px);
  margin: 0 auto;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  border-radius: 0 0 15px 15px;
}

.cardCopy__head {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  background: var(--red-variant);
  padding: 16px 8px;
}

.cardCopy__head > h2 {
  font-family: var(--fontTitle);
  color: var(--white);
  font-size: var(--subtitle-1);
}

.iconCopy {
  position: absolute;
  right: 8px;
}

textarea {
  display: block;
  width: 100%;
  min-height: 100%;
  font-family: var(--fontBody);
  color: var(--black-variant);
  font-weight: 600;
  resize: none;
  padding: 16px 8px;
  border: none;
  outline: none;
  font-size: var(--body-2);
  line-height: 1.6rem;
}

/* Footer */
.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
  background: var(--red-variant);
}

.author {
  color: var(--white);
  font-family: var(--fontBody);
  font-size: var(--caption);
  font-weight: 600;
}
