:root {
  --red-variant: #d03d40;
  --black-variant: #1c1c1c;
  --white: #ffffff;
  --white-variant: #f1f1f1;

  --headline-1: 6.125em;
  --headline-2: 3.8125em;
  --headline-3: 3.0625em;
  --headline-4: 2.1875em;
  --headline-5: 1.5em;
  --headline-6: 1.25em;
  --subtitle-1: 1em;
  --subtitle-2: 0.875em;
  --body-1: 1em;
  --body-2: 0.875em;
  --button: 0.875em;
  --caption: 0.75em;
  --overline: 0.625em;

  --fontTitle: "Raleway", sans-serif;
  --fontBody: "Roboto", sans-serif;

  --hCardInfo: 140px;
  --hHeader: 61px;
  --hCardCopy: 200px;
  --hCardCopyHead: 52px;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  font-size: 16px;
  box-sizing: border-box;
}

body {
  position: relative;
  display: block;
  max-width: 100%;
  min-height: 100vh;
}

.grid {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto 2fr auto;
  background: var(--white-variant);
}

.grid-header {
  grid-column: 1;
  grid-row: 1;
}

.grid-main {
  grid-column: 1;
  grid-row: 2;
}

.grid-footer {
  grid-column: 1;
  grid-row: 3;
}

/* Header */
.header {
  position: relative;
  /*position: sticky;
  top: 0;*/
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  padding: 24px;
  max-width: 100%;
  height: var(--hHeader);
  background: var(--white);
  z-index: 30;
}

.logoUTP,
.iconMenu {
  position: absolute;
  cursor: pointer;
}

.iconMenu {
  right: 24px;
}

.logoUTP {
  left: 24px;
}

/* Navigation */
.nav {
  position: absolute;
  top: var(--hHeader);
  left: 0;
  display: none;
  width: 100%;
  height: auto;
  background: var(--white);
  padding: 24px;
  box-shadow: 15px 15px 30px -15px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  transition: height 0.4s;
  z-index: 20;
}

.menu__list {
  list-style: none;
  line-height: 2.5rem;
  overflow: hidden;
}

.list__button {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  cursor: pointer;
}

.menu__link,
.subMenu__link {
  color: var(--black-variant);
  text-decoration: none;
  font-weight: 600;
  font-size: var(--button);
  font-family: var(--fontBody);
}

.iconArrow {
  position: absolute;
  right: 0;
}

.arrow {
  transform: rotate(90deg);
  transition: transform 0.4s ease-in-out;
}

.showMenu {
  display: block;
  transition: display 0.4s ease;
}

.subMenu {
  border-left: 2px solid var(--black-variant);
  display: flex;
  flex-flow: column;
  row-gap: 8px;
  height: 0;
  transition: height 0.4s;
}

.subMenu__list {
  max-width: calc(100% - 16px);
  padding: 0 0 0 16px;
}

.subMenu__link {
  font-weight: 400;
}

/* Main */

/* content cardsLink */
.content-cardsLink {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  gap: 24px;
  padding: 24px;
}

.cardLink {
  flex: calc(100% / 2 - 24px);
  min-width: 140px;
  max-width: 200px;
  height: auto;
  padding: 24px 16px;
  background: var(--red-variant);
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.25);
  transition: all 0.4s ease;
}

.cardLink > a {
  display: block;
  text-decoration: none;
  font-size: var(--button);
  font-weight: 600;
  text-align: center;
  color: var(--white);
  font-family: var(--fontBody);
  transition: all 0.2s ease;
}

.cardLink:hover > a {
  text-decoration: underline;
  color: var(--red-variant);
}

.cardLink:hover {
  background: var(--white);
}

/* intro */
.intro {
  display: flex;
  flex-flow: column;
  gap: 24px;
  width: 100%;
  height: auto;
  padding: 24px;
  background: var(--white-variant);
}

.title {
  font-family: var(--fontTitle);
  font-weight: 700;
  font-size: var(--headline-5);
  color: var(--red-variant);
  text-align: center;
}

.smallCard {
  --hCardCopy: 140px;
}

.hideCard {
  display: none;
}

.cardCopy {
  flex: 1;
  max-width: 100%;
  height: var(--hCardCopy);
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.25);
}

.cardCopy__head {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  width: 100%;
  height: var(--hCardCopyHead);
  background: var(--red-variant);
  padding: 16px 8px;
}

.cardCopy__head > h2 {
  font-family: var(--fontTitle);
  color: var(--white);
  font-size: var(--subtitle-1);
}

.iconCopy {
  position: absolute;
  right: 8px;
  cursor: pointer;
}

textarea {
  display: block;
  width: 100%;
  height: calc(var(--hCardCopy) - var(--hCardCopyHead));
  font-family: var(--fontBody);
  color: var(--black-variant);
  font-weight: 600;
  resize: none;
  padding: 16px 8px;
  border: none;
  outline: none;
  font-size: var(--body-2);
  line-height: 1.6rem;
}

.alertCopy::after {
  position: absolute;
  top: -45px;
  left: -55px;
  content: "Copiado";
  background: var(--black-variant);
  color: var(--white);
  font-family: var(--fontBody);
  font-size: var(--body-1);
  font-weight: 600;
  padding: 4px 8px;
  border-radius: 4px;
}

/* Footer */
.footer {
  /*position: sticky*/
  position: relative;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50px;
  padding: 16px;
  background: var(--red-variant);
}

.author {
  color: var(--white);
  font-family: var(--fontBody);
  font-size: var(--caption);
  font-weight: 600;
}
