-
  let menu = [
    {
      title: "Datos Generales",
      subMenu: false,
      link: "index.html"
    },
    {
      title: "Tramites Autogestionables",
      subMenu: true,
      link: "#",
      childs: [
        {
          name: "Activacion de pagos adelantado ciclo completo",
          link: "activacion-pagos-adelantado-ciclo-completo.html"
        },
        {
          name: "Reincorporación Verano 2022",
          link: "reincorporacion-verano-2022.html"
        },
        {
          name: "Reincorporación Marzo 2022",
          link: "reincorporacion-marzo-2022.html"
        },
        {
          name: "Exámenes Rezagados",
          link: "examenes-rezagados.html"
        },
        {
          name: "Retiro de Curso Verano 2022",
          link: "retiro-curso-verano-2022.html"
        },
        {
          name: "Rectificación de Nota",
          link: "rectificacion-nota.html"
        },
        {
          name: "Validación de Seguro de Salud",
          link: "validacion-seguro-salud.html"
        }
      ]
    },
    {
      title: "Tramites SAE en Linea",
      subMenu: true,
      link: "#",
      childs: [
        {
          name: "Cambio de Campus",
          link: "activacion-pagos-adelantado-ciclo-completo.html"
        },
        {
          name: "Carta de Presentación",
          link: "activacion-pagos-adelantado-ciclo-completo.html"
        },
        {
          name: "Convalidación de Asignatura",
          link: "activacion-pagos-adelantado-ciclo-completo.html"
        },
        {
          name: "Duplicado de Carné Universitario",
          link: "activacion-pagos-adelantado-ciclo-completo.html"
        },
        {
          name: "Registro de Fotografía",
          link: "activacion-pagos-adelantado-ciclo-completo.html"
        },
        {
          name: "Cita Psicológica",
          link: "activacion-pagos-adelantado-ciclo-completo.html"
        },
        {
          name: "Cambio de Carrera",
          link: "activacion-pagos-adelantado-ciclo-completo.html"
        },
        {
          name: "Certificado de Estudios",
          link: "activacion-pagos-adelantado-ciclo-completo.html"
        },
        {
          name: "Convalidación de Inglés",
          link: "activacion-pagos-adelantado-ciclo-completo.html"
        },
        {
          name: "Factura Electrónica",
          link: "activacion-pagos-adelantado-ciclo-completo.html"
        },
        {
          name: "Retiro de Periodo Lectivo",
          link: "activacion-pagos-adelantado-ciclo-completo.html"
        },
        {
          name: "Cambio de Modalidad",
          link: "activacion-pagos-adelantado-ciclo-completo.html"
        },
        {
          name: "Constancia de Estudios",
          link: "activacion-pagos-adelantado-ciclo-completo.html"
        },
        {
          name: "Emisión Carné Universitario",
          link: "activacion-pagos-adelantado-ciclo-completo.html"
        },
        {
          name: "Reembolso",
          link: "activacion-pagos-adelantado-ciclo-completo.html"
        },
        {
          name: "Autenticación de Sílabus",
          link: "activacion-pagos-adelantado-ciclo-completo.html"
        }
      ]
    },
    {
      title: "Tramites Grados y Titulos",
      subMenu: true,
      link: "#",
      childs: [
        {
          name: "Ampliación del Plazo de Vigencia",
          link: "activacion-pagos-adelantado-ciclo-completo.html"
        },
        {
          name: "Constancia de Egresado",
          link: "activacion-pagos-adelantado-ciclo-completo.html"
        },
        {
          name: "Programa Especial de Titulación",
          link: "activacion-pagos-adelantado-ciclo-completo.html"
        },
        {
          name: "Aprobación del Tema de Tesis",
          link: "activacion-pagos-adelantado-ciclo-completo.html"
        },
        {
          name: "Grado Acádemico de Bachiller",
          link: "activacion-pagos-adelantado-ciclo-completo.html"
        },
        {
          name: "Programa de Titulación",
          link: "activacion-pagos-adelantado-ciclo-completo.html"
        },
        {
          name: "Aprobación del Trabajo de Suficiencia profesional",
          link: "activacion-pagos-adelantado-ciclo-completo.html"
        },
        {
          name: "Obtención del Título profesional",
          link: "activacion-pagos-adelantado-ciclo-completo.html"
        }
      ]
    },
    {
      title: "Tramites de Admision",
      subMenu: true,
      link: "#",
      childs: [
        {
          name: "Cambio de Carrera y Campus (Ingresantes)",
          link: "activacion-pagos-adelantado-ciclo-completo.html"
        },
        {
          name: "Reembolso",
          link: "activacion-pagos-adelantado-ciclo-completo.html"
        },
        {
          name: "Cambio de Turno",
          link: "activacion-pagos-adelantado-ciclo-completo.html"
        },
        {
          name: "Emisión de Factura Electrónica",
          link: "activacion-pagos-adelantado-ciclo-completo.html"
        }
      ]
    },
    {
      title: "Tramites PAU",
      subMenu: true,
      link: "#",
      childs: [
        {
          name: "Rectificación de Notas",
          link: "activacion-pagos-adelantado-ciclo-completo.html"
        },
        {
          name: "Retiro de Asignatura",
          link: "activacion-pagos-adelantado-ciclo-completo.html"
        },
        {
          name: "Cambio de Turno (PAU)",
          link: "activacion-pagos-adelantado-ciclo-completo.html"
        },
        {
          name: "Retiro de Periodo (PAU)",
          link: "activacion-pagos-adelantado-ciclo-completo.html"
        },
        {
          name: "Constancia de Estudios (PAU)",
          link: "activacion-pagos-adelantado-ciclo-completo.html"
        },
        {
          name: "Actualización de Datos Personales"
        },
      ]
    },
    {
      title: "Becas - Convenios",
      subMenu: true,
      link: "#",
      childs: [
        {
          name: "Beca Alto Potencial",
          link: "activacion-pagos-adelantado-ciclo-completo.html"
        },
        {
          name: "Beca Peru Champs",
          link: "activacion-pagos-adelantado-ciclo-completo.html"
        },
        {
          name: "Beca por Orfandad",
          link: "activacion-pagos-adelantado-ciclo-completo.html"
        },
        {
          name: "Beca Excelencia Deportivo Alta Competencia",
          link: "activacion-pagos-adelantado-ciclo-completo.html"
        },
        {
          name: "Beca por Discapacidad",
          link: "activacion-pagos-adelantado-ciclo-completo.html"
        },
        {
          name: "Beca por Excelencia Academica",
          link: "activacion-pagos-adelantado-ciclo-completo.html"
        },
        {
          name: "Beca Madre de Dios",
          link: "activacion-pagos-adelantado-ciclo-completo.html"
        },
        {
          name: "Beca Programa Dep. (Prodac)",
          link: "activacion-pagos-adelantado-ciclo-completo.html"
        },
        {
          name: "Beca Socioeconómica",
          link: "activacion-pagos-adelantado-ciclo-completo.html"
        },
        {
          name: "Beca Talento",
          link: "activacion-pagos-adelantado-ciclo-completo.html"
        },
        {
          name: "Convenios Generales",
          link: "activacion-pagos-adelantado-ciclo-completo.html"
        }
      ]
    },
    {
      title: "Validacion de Plataformas",
      subMenu: false,
      link: "#"
    },
    {
      title: "Anexos",
      subMenu: false,
      link: "#"
    },
    {
      title: "Servicios Universitarios",
      subMenu: false,
      link: "#"
    },
    {
      title: "Matricula",
      subMenu: false,
      link: "#"
    }
  ];

header.header.grid-header
  p.logoUTP
    svg(width="80", height="27" viewBox="0 0 80 27" fill="none" xmlns="http://www.w3.org/2000/svg")
      path(d="M27.9992 0H0V28.0105H27.9992V0Z" fill="#D03D40")
      path(d="M16.9679 6.21753H21.7888V18.9266L18.7152 21.7719H9.28393L6.23138 18.9266V6.21753H11.0523V17.388L11.7049 18.0414H16.2943L16.9679 17.388V6.21753Z" fill="white")
      path(d="M55.9984 0H27.9992V28.0105H55.9984V0Z" fill="#1C1C1C")
      path(d="M39.5989 21.7719V9.94805H34.2306V6.21753H49.788V9.94805H44.4198V21.7719H39.5989Z" fill="white")
      path(d="M83.9992 0H56V28.0105H83.9992V0Z" fill="#D03D40")
      path(d="M67.0524 16.5145V20.7719H62.2314V5.21753H74.9469L77.7889 7.85208V13.8799L74.9469 16.5145H67.0524ZM72.3154 8.96913H67.0524V12.805H72.3154L72.968 12.1517V9.6225L72.3154 8.96913Z" fill="white")
  
  p.iconMenu
    img(src="images/icon-menu.svg")

  nav.nav
    ul.menu
      each list in menu
        if list.subMenu == true
          li.menu__list
            .list__button.list__button--click
              a.menu__link(href=`${list.link}`)= list.title
              p.iconArrow
                img(src="images/icon-arrow.svg", alt="icon arrow")
            ul.subMenu
              each subList in list.childs
                li.subMenu__list
                  a.subMenu__link(href=`${subList.link}`)= subList.name
        else if list.subMenu == false
          li.menu__list
            .list__button.list__button--click
              a.menu__link(href=`${list.link}`)= list.title