-
  let menu = [
    {
      title: "Datos Generales",
      subMenu: false,
      link: "index.html"
    },
    {
      title: "Tramites Autogestionables",
      subMenu: true,
      link: "#",
      childs: [
        {
          name: "Activacion de pagos adelantado ciclo completo",
          link: "activacion-pagos-adelantado-ciclo-completo.html"
        },
        {
          name: "Reincorporación Verano 2022",
          link: "reincorporacion-verano-2022.html"
        },
        {
          name: "Reincorporación Marzo 2022",
          link: "reincorporacion-marzo-2022.html"
        },
        {
          name: "Exámenes Rezagados",
          link: "examenes-rezagados.html"
        },
        {
          name: "Retiro de Curso Verano 2022",
          link: "retiro-curso-verano-2022.html"
        },
        {
          name: "Rectificación de Nota",
          link: "rectificacion-nota.html"
        },
        {
          name: "Validación de Seguro de Salud",
          link: "validacion-seguro-salud.html"
        }
      ]
    },
    {
      title: "Tramites SAE en Linea",
      subMenu: true,
      link: "#",
      childs: [
        {
          name: "Cambio de Campus Reinscritos",
          link: "cambio-campus-carrera-reinscrito.html"
        },
        {
          name: "Cambio de Campus Ingresante Marzo",
          link: "cambio-campus-carrera-ingresante-marzo-2022.html"
        },
        {
          name: "Carta de Presentación",
          link: "carta-presentacion.html"
        },
        {
          name: "Convalidación de Asignatura",
          link: "convalidacion-asignatura.html"
        },
        {
          name: "Duplicado de Carné Universitario",
          link: "duplicado-carne-universitario.html"
        },
        {
          name: "Registro de Fotografía Ingresante 2022",
          link: "registro-fotografia-ingresantes-enero-marzo-2022.html"
        },
        {
          name: "Registro de Fotografía Reinscrito/Reincorporado",
          link: "registro-fotografia-reinscrito-reincorporado.html"
        },
        {
          name: "Cita Psicológica",
          link: "cita-psicologica.html"
        },
        {
          name: "Cambio de Carrera Reinscrito",
          link: "cambio-carrera-campus-reinscrito-verano.html"
        },
        {
          name: "Cambio de Carrera Ingresante Marzo",
          link: "cambio-carrera-campus-ingresante-marzo-2022.html"
        },
        {
          name: "Certificado de Estudios",
          link: "certificado-estudios.html"
        },
        {
          name: "Convalidación de Inglés",
          link: "convalidacion-ingles.html"
        },
        {
          name: "Factura Electrónica",
          link: "factura-electronica.html"
        },
        {
          name: "Retiro de Periodo Lectivo",
          link: "retiro-periodo-lectivo.html"
        },
        {
          name: "Cambio de Modalidad",
          link: "cambio-modalidad.html"
        },
        {
          name: "Constancia de Estudios",
          link: "constancia-estudios.html"
        },
        {
          name: "Emisión Carné Universitario",
          link: "emision-carne-universitario.html"
        },
        {
          name: "Reembolso",
          link: "reembolso.html"
        },
        {
          name: "Autenticación de Sílabus",
          link: "autenticacion-silabus.html"
        },
        {
          name: "Constancia de Disciplina",
          link: "constancia-disciplina.html"
        },
        {
          name: "Otras Constancias",
          link: "otras-constancias.html"
        },
        {
          name: "Reprogramación de Evaluación",
          link: "reprogramacion-evaluacion.html"
        }
      ]
    },
    {
      title: "Tramites Grados y Titulos",
      subMenu: true,
      link: "#",
      childs: [
        {
          name: "Ampliación del Plazo de Vigencia",
          link: "ampliacion-plazo-vigencia.html"
        },
        {
          name: "Constancia de Egresado",
          link: "constancia-egresado.html"
        },
        {
          name: "Programa Especial de Titulación",
          link: "programa-especial-titulacion.html"
        },
        {
          name: "Aprobación del Tema de Tesis",
          link: "aprobacion-tema-tesis.html"
        },
        {
          name: "Bachiller Automático",
          link: "bachiller-automatico.html"
        },
        {
          name: "Bachiller por Trabajo de Investigación",
          link: "bachiller-trabajo-investigacion.html"
        },
        {
          name: "Bachiller Ley Transitoria 2020 - 2021",
          link: "bachiller-ley-transitoria-2020-2021.html"
        },
        {
          name: "Programa de Titulación",
          link: "programa-titulacion.html"
        },
        {
          name: "Aprobación del Trabajo de Suficiencia Profesional",
          link: "aprobacion-trabajo-suficiencia-profesional.html"
        },
        {
          name: "Obtención del Título Profesional",
          link: "obtencion-titulo-profesional.html"
        }
      ]
    },
    {
      title: "Tramites de Admision",
      subMenu: true,
      link: "#",
      childs: [
        {
          name: "Cambio de Carrera y Campus (Ingresantes)",
          link: "cambio-carrera-campus-ingresantes.html"
        },
        {
          name: "Reembolso",
          link: "reembolso-admision.html"
        },
        {
          name: "Cambio de Turno",
          link: "cambio-turno.html"
        },
        {
          name: "Emisión de Factura Electrónica",
          link: "emision-factura-electronica.html"
        }
      ]
    },
    {
      title: "Tramites PAU",
      subMenu: true,
      link: "#",
      childs: [
        {
          name: "Rectificación de Notas",
          link: "rectificacion-notas-pau.html"
        },
        {
          name: "Retiro de Asignatura",
          link: "retiro-asignatura.html"
        },
        {
          name: "Cambio de Turno (PAU)",
          link: "cambio-turno-pau.html"
        },
        {
          name: "Retiro de Periodo (PAU)",
          link: "retiro-periodo-pau.html"
        },
        {
          name: "Constancia de Estudios (PAU)",
          link: "constancia-estudios-pau.html"
        },
        {
          name: "Actualización de Datos Personales",
          link: "actualizacion-datos-personales.html"
        },
      ]
    },
    {
      title: "Becas - Convenios",
      subMenu: true,
      link: "#",
      childs: [
        {
          name: "Beca Alto Potencial",
          link: "beca-alto-potencial.html"
        },
        {
          name: "Beca Peru Champs",
          link: "beca-peru-champs.html"
        },
        {
          name: "Beca por Orfandad",
          link: "beca-orfandad.html"
        },
        {
          name: "Beca Excelencia Deportivo Alta Competencia",
          link: "beca-excelencia-deportivo-alta-competencia.html"
        },
        {
          name: "Beca por Discapacidad",
          link: "beca-discapacidad.html"
        },
        {
          name: "Beca por Excelencia Academica",
          link: "beca-excelencia-academica.html"
        },
        {
          name: "Beca Madre de Dios",
          link: "beca-madre-de-dios.html"
        },
        {
          name: "Beca Programa Dep. (Prodac)",
          link: "beca-programa-prodac.html"
        },
        {
          name: "Beca Socioeconómica",
          link: "beca-socioeconomica.html"
        },
        {
          name: "Beca Talento",
          link: "beca-talento.html"
        },
        {
          name: "Convenios Generales",
          link: "https://portalestudiante03.utp.edu.pe/Home/InformacionInsti"
        }
      ]
    },
    {
      title: "Validacion de Plataformas",
      subMenu: true,
      link: "#",
      childs: [
        {
          name: "Validacion Portal del Estudiante",
          link: "validacion-portal-estudiante.html"
        },
        {
          name: "Validacion UTP+",
          link: "validacion-utp+.html"
        },
        {
          name: "Validacion Portal Canvas",
          link: "validacion-portal-canvas.html"
        },
        {
          name: "Validacion Portal PAU",
          link: "validacion-portal-pau.html"
        },
        {
          name: "Validacion Inscripccion PAU",
          link: "validacion-inscripccion-pau.html"
        },
        {
          name: "Validacion Zoom",
          link: "validacion-zoom.html"
        },
        {
          name: "Validacion Contraseñas UTP",
          link: "validacion-contrasena-pau.html"
        }
      ]
    },
    {
      title: "Tutoriales",
      subMenu: false,
      link: "tutoriales.html"
    },
    {
      title: "Fuente",
      subMenu: false ,
      link: "https://github.com/EstivenMayhuay/UTP-CENTER"
    }
  ];

nav.nav
  ul.menu
    each list in menu
      if list.subMenu == true
        li.menu__list
          .list__button.list__button--click
            a.menu__link(href=`${list.link}`)= list.title
            p.iconArrow
              img(src="./images/icon-arrow.svg", alt="icon arrow")
          ul.subMenu
            each subList in list.childs
              li.subMenu__list
                a.subMenu__link(href=`${subList.link}`)= subList.name
      else if list.subMenu == false
        li.menu__list
          .list__button.list__button--click
            a.menu__link(href=`${list.link}`)= list.title