-
  let cardsInfo = [
    {
      id: "saludo",
      title: "Saludo",
      text: "Hola (nombre de alumno), te comento que puedes activar el 10% dscto.por pago de ciclo completo a través de tu portal de estudiante.",
      class: "smallCard"
    },
    {
      id: "descripccion",
      title: "Descripccion",
      text: `Descuento regular aplicable por el pago adelantado de todas las cuotas del ciclo (10%), hasta un día hábil antes de la fecha de vencimiento de la cuota 1. Los pasos son:
        - Ingresa al portal del estudiante.
        - Ingresa a la sección Estado de cuenta - Pagos.
        - En la sección 10% de descuento selecciona Actívalo aquí.
        - Luego, presiona Activar y listo ya tienes el descuento.`,
      class: ""
    },
    {
      id: "adicionales",
      title: "Adicionales",
      text: `Tener en cuenta que:
        - Descuento aplica para periodos regulares (no ciclos verano).
        - A partir del vencimiento de la cuota 1 el descuento será revertido y se realizará un recálculo en todas las cuotas, en caso no se haya realizado el pago total del ciclo.
        - Si deseas realizar el pago por separado de cada una de tus cuotas. No debes tener el beneficio activo en tu Portal del estudiante.
        - Puedes activar / desactivar 02 veces como máximo en cada ciclo regular.
        - Recuerda que en el marco de la emergencia sanitaria por el Covid-19, no se encuentran habilitados los pagos en caja de la universidad.`,
      class: ""
    },
    {
      id: "para-el-asesor",
      title: "Para el Asesor",
      text: "No Disponible para periodos de Verano",
      class: "smallCard"
    }
  ];

doctype html
html(lang="es")
  include ../includes/head.pug
    
    block title
      title Activacion de Pago adelantado Ciclo Completo | UTP CENTER

  body.grid
    include ../includes/header.pug

    main.main.grid-main
      section.intro
        h1.title Activacion de pagos adelantado ciclo completo
        for cardInfo in cardsInfo
          .cardCopy(id=`${cardInfo.id}` class=`${cardInfo.class}`)
            .cardCopy__head
              h2= cardInfo.title
              p.iconCopy
                img(src="images/icon-copy.svg", alt="icon copy")
            textarea(readonly="true" class="textCopy")= cardInfo.text

    include ../includes/footer.pug

    script(src="script/app.js") 