-
  let cardsInfo = [
    {
      id: "card-1",
      title: "Deuda Pendiente",
      text: "隆Hola!  Te saluda 'X' de SAE. Para poder conocer tu deuda pendiente, solo debes marcar al (01) 315-9600 opci贸n 1 - 1"
    },
    {
      id: "card-2",
      title: "Codigo de Alumno",
      text: "隆Hola!  Te saluda 'X' de SAE. Para poder conocer tu c贸digo de alumno puedes comunicarte al (01) 315-9600 opci贸n 1 - 2"
    },
    {
      id: "card-3",
      title: "A. Plataformas",
      text: "隆Hola!  Te saluda 'X' de SAE. Si tienes consultas sobre el acceso a tus plataformas UTP, puedes comunicarte al (01) 315-9600 opci贸n 1 - 3"
    },
    {
      id: "card-4",
      title: "SAE",
      text: "隆Hola!  Te saluda 'X'. Si deseas comunicarte con SAE, puedes comunicarte al (01) 315-9600 opci贸n 1 - 4"
    }
  ];

doctype html
html(lang="en")
  include ../includes/head.pug
    
    block title
      title Activacion de Pago adelantado Ciclo Completo | UTP CENTER

  body.grid
    include ../includes/header.pug

    main.main.grid-main
      section.intro
        h1.title Activacion de pagos adelantado ciclo completo
        for cardInfo in cardsInfo
          .cardCopy(id=`${cardInfo.id}`)
            .cardCopy__head
              h2= cardInfo.title
              p.iconCopy
                img(src="images/icon-copy.svg", alt="icon copy")
            textarea(readonly="true" class="textCopy")= cardInfo.text

    include ../includes/footer.pug

    script(src="script/app.js") 