-
  let cardsInfo = [
    {
      id: "saludo",
      title: "Saludo",
      text: "Hola (nombre del alumno), el costo del trámite es de S/1150, para solicitarlo considera lo siguiente:",
      class: "smallCard"
    },
    {
      id: "descripccion",
      title: "Descripccion",
      text: `
      1. Esta información es solo para alumnos que iniciaron sus estudios hasta el ciclo 2014-1 y, asimismo, finalizaron sus estudios hasta el año 2019.
      2 .No tener deudas con la universidad.
      3 .No tener cursos pendientes en tu portal del estudiante en la sección “Avance plan de estudios”`,
      class: ""
    },
    {
      id: "adicionales",
      title: "Adicionales",
      text: `
      - El procedimiento y documentos a adjuntar los puedes ubicar en: bit.ly/bachillerautomatico.
      - Plazo: 50 días aproximadamente, se entregará constancia de egresado y grado de bachiller en PDF.`,
      class: "smallCard"
    },
    {
      id: "para-el-asesor",
      title: "Para el Asesor",
      text: "",
      class: "hideCard"
    }
  ];

doctype html
html(lang="es")
  include ../includes/head.pug
    
    block title
      title Bachiller Automático | UTP CENTER

  body.grid
    include ../includes/header.pug

    main.main.grid-main
      section.intro
        h1.title Bachiller Automático
        for cardInfo in cardsInfo
          .cardCopy(id=`${cardInfo.id}` class=`${cardInfo.class}`)
            .cardCopy__head
              h2= cardInfo.title
              p.iconCopy
                img(src="images/icon-copy.svg", alt="icon copy")
            textarea(readonly="true" class="textCopy")= cardInfo.text

    include ../includes/footer.pug

    script(src="script/app.js") 