-
  let cardsInfo = [
    {
      id: "saludo",
      title: "Saludo",
      text: `
  ¿A qué carrera deseas cambiarte?
  ¿A qué campus deseas cambiarte?`,
      class: "smallCard"
    },
    {
      id: "descripccion",
      title: "Descripccion",
      text: "Ingresa al siguiente link: bit.ly/SolicitudAdmi y completa tus datos personales. Tener en cuenta que en 'Trámite a realizar' primero debes escoger 'Tramites Admisión' , luego en el desplegable ubica 'Cambio de carrera / sede', en 'Descripción' indicas el motivo por el cual deseas realizar el cambio e indicar la nueva carrera/sede.",
      class: "smallCard"
    },
    {
      id: "adicionales",
      title: "Adicionales",
      text: "La fecha límite es el 16 de Marzo para ingresantes para marzo 2022 y para verano 2022 hasta el 29 de diciembre.",
      class: "smallCard"
    },
    {
      id: "para-el-asesor",
      title: "Para el Asesor",
      text: "Dependiendo a la respuesta del alumno revisar en la página www.utp.edu.pe la disponibilidad de la carrera o sede.",
      class: "smallCard"
    }
  ];

doctype html
html(lang="es")
  include ../includes/head.pug
    
    block title
      title Cambio de Campus Ingresante Marzo 2022 | UTP CENTER

  body.grid
    include ../includes/header.pug

    main.main.grid-main
      section.intro
        h1.title Cambio de Campus Ingresante Marzo 2022
        for cardInfo in cardsInfo
          .cardCopy(id=`${cardInfo.id}` class=`${cardInfo.class}`)
            .cardCopy__head
              h2= cardInfo.title
              p.iconCopy
                img(src="images/icon-copy.svg", alt="icon copy")
            textarea(readonly="true" class="textCopy")= cardInfo.text

    include ../includes/footer.pug

    script(src="script/app.js") 