-
  let cardsInfo = [
    {
      id: "saludo",
      title: "Saludo",
      text: "Hola (nombre del alumno), para solicitar la constancia de egresado sigue estos pasos:",
      class: "smallCard"
    },
    {
      id: "descripccion",
      title: "Descripccion",
      text: `
      1.Realiza el pago de trámite de S/110 por medio de nuestros bancos autorizados bancos: Intebank, Scotiabank, BCP y BBVA.
      2.Una vez cancelado el trámite, deberás generar un ticket a través del SAE en Línea y escoger en "Trámite a realizar" la opción "Constancia de Egresado".
      3. Completar en su totalidad la solicitud de Grados y Títulos y adjuntarla al ticket.
      4. Es necesario consignes tus datos personales en la Solicitud de Grados y Títulos, tal cual figura en tu DNI, pues de lo contrario puedes tener consecuencias administrativas-legales en las instituciones del estado peruano, en caso requieras realizar alguna gestión con tu diploma.
      5. Revisa exhaustivamente el formulario y cumple con las indicaciones.
      6. Grados y Títulos validará la información que presentes y, de estar conforme, iniciará el proceso. Si hubiera alguna observación te comunicaremos mediante el ticket generado.`,
      class: ""
    },
    {
      id: "adicionales",
      title: "Adicionales",
      text: `
      - Ten en consideración haber completado el 100% de tu plan curricular.
      - El plazo de atención es de 7 días hábiles`,
      class: "smallCard"
    },
    {
      id: "para-el-asesor",
      title: "Para el Asesor",
      text: "",
      class: "hideCard"
    }
  ];

doctype html
html(lang="es")
  include ../includes/head.pug
    
    block title
      title Constancia de Egresado | UTP CENTER

  body.grid
    include ../includes/header.pug

    main.main.grid-main
      section.intro
        h1.title Constancia de Egresado
        for cardInfo in cardsInfo
          .cardCopy(id=`${cardInfo.id}` class=`${cardInfo.class}`)
            .cardCopy__head
              h2= cardInfo.title
              p.iconCopy
                img(src="images/icon-copy.svg", alt="icon copy")
            textarea(readonly="true" class="textCopy")= cardInfo.text

    include ../includes/footer.pug

    script(src="script/app.js") 