-
  let cardsInfo = [
    {
      id: "saludo",
      title: "Saludo",
      text: "Hola (nombre del alumno), te comento que puedes autogestionar tu examen de rezagados con estos pasos:",
      class: "smallCard"
    },
    {
      id: "descripccion",
      title: "Descripccion",
      text: `
        1. Carga el trámite y realiza el pago de:
          - Ingresa al Portal del Estudiante, elige la opción “Trámites” y en la sección Carga el pago de tus trámites selecciona Trámite de Examen Rezagado.
          - Realiza el pago del monto generado en los canales de pago autorizados. Recuerda que debes realizar un pago por cada rezagado a rendir.
        2. Registra el trámite:
          - Ingresa al Portal del Estudiante, elige la opción Trámites, selecciona la opción Trámite de Examen Rezagado.
          - Selecciona el pago realizado y el curso que deseas rezagar.`,
      class: ""
    },
    {
      id: "adicionales",
      title: "Adicionales",
      text: `Ten en cuenta que:
      1. Solo se visualizarán los cursos que tienen NS en el examen final o examen parcial.
      2. El costo es de S/70 por cada curso a rezagar.
      3. Los horarios del examen rezagado solicitado serán publicados en el Portal del Estudiante, sección Rol de Exámenes.
      4. El trámite de Examen Rezagado solamente debe realizarse a través del Portal del Estudiante. Puedes visualizar el cronograma en el siguiente enlace: bit.ly/ExamenRezagado`,
      class: ""
    },
    {
      id: "para-el-asesor",
      title: "Para el Asesor",
      text: "",
      class: "hideCard"
    }
  ];

doctype html
html(lang="es")
  include ../includes/head.pug
    
    block title
      title Exámenes Rezagados | UTP CENTER

  body.grid
    include ../includes/header.pug

    main.main.grid-main
      section.intro
        h1.title Exámenes Rezagados
        for cardInfo in cardsInfo
          .cardCopy(id=`${cardInfo.id}` class=`${cardInfo.class}`)
            .cardCopy__head
              h2= cardInfo.title
              p.iconCopy
                img(src="images/icon-copy.svg", alt="icon copy")
            textarea(readonly="true" class="textCopy")= cardInfo.text

    include ../includes/footer.pug

    script(src="script/app.js") 