doctype html
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="description" content="Esta es una pagina informativa y de ayuda para los Asesores de Atencion al Estudiante de la Universidad Tecnologica del Peru")
    meta(name="keywords", content="UTP, Centro de Ayuda Atencion al Cliente")
    meta(name="author", content="~Estiven Mayhuay")
    title UTP CENTER | Atencion al Estudiante

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">

    link(rel="stylesheet", href="css/estilos.css")
  body 
    h1 UTP