doctype html
html(lang="es")

  include ../includes/head.pug

    block title
      title Tutoriales | Atencion al Estudiante

  body.grid
    include ../includes/header.pug

    main.main.grid-main

    include ../includes/footer.pug

    script(src="script/app.js") 