doctype html
html(lang="es")

  include ../includes/head.pug

    block title
      title Tutoriales | Atencion al Estudiante

  body.grid
    include ../includes/header.pug

    main.main.grid-main
      section.intro
        h2.title Tutoriales

        .content-videos
          video(width="100%" height="300" src="videos/intro.mp4" controls)

        .content-videos
          video(width="100%" height="300" src="videos/copy_paste.mp4" controls) 

    include ../includes/footer.pug

    script(src="script/app.js") 