-
  let validatePortalPAU = `¿Tiene acceso a otras plataformas como canvas o correo institucional con la contraseña que estás colocando?
  - NO: Que cambie contraseña. bit.ly/InstrucContrasenaUTP
  - Sí: Verique nuevamente los descartes anteriores.`;

  let speechPortalPAU = `Hola (nombre de alumno), para acceder a tu portal del programa de avance universitario primero verifica que la página sea correcta (portalpau.utp.edu.pe), luego valida tus credenciales, el acceso es solo con tu código de alumno incluyendo la U sin "@utp.edu.pe"                              
  
  La contraseña es la misma que usas para acceder a canvas y a tu correo institucional, también verifica las letras que figuran en el código captcha.
  (Asesor debe validar en el simulador del portal si código está activo)

  ¿Lograste ingresar?

  Sí: Perfecto, ¿tienes alguna consulta adicional?

  No: Por favor, verifica tu conexión a internet, borra cookies e historial. 
  Ingresa a través de una pestaña en incógnita o usando otro navegador o dispositivo.

  ¿Lograste acceder?

  Sí: Perfecto, ¿tienes alguna consulta adicional?

  No:Entiendo, en ese caso por favor confírmame ¿tienes acceso a otras plataformas como canvas o correo institucional con la misma contraseña? 

  No: Por favor cambia la contraseña en: contrasena.utp.edu.pe puedes descargar un instructivo aquí: bit.ly/InstrucContrasenaUTP

  Sí: Por favor envíame una imagen de lo que te figura o indícame qué mensaje de error aparece.

  Validar si aparece otro tipo de problema.`;

doctype html
html(lang="es")
  include ../includes/head.pug
    
    block title
      title Validacion Portal PAU | UTP CENTER

  body.grid
    include ../includes/header.pug

    main.main.grid-main
      section.intro
        h1.title Validacion Portal PAU

        .contentTable
          table.validacionesPortalPAU
            tr
              th(class="titleTable" colspan="2") Portal PAU
            tr
              th(class="subTitleTable") Página
              td portalpau.utp.edu.pe
            tr
              th(class="subTitleTable") Usuario
              td Redacta solo tu código y no le agrega "@utp.edu.pe". Que su código de alumno sea el correcto
            tr
              th(class="subTitleTable") Contraseña
              td Con la que accede a canvas o correo institucional 
            tr
              th(class="subTitleTable") Captcha
              td Verificar que redacte correctamente las letras
            tr
              th(class="subTitleTable") Usuario o contraseña incorrecta
              td
                textarea(readonly="true")= validatePortalPAU
            tr
              th(class="subTitleTable") Usuario no permitido 
              td Verificar si está accediendo a la página correcta y si tiene código activo
            tr
              th(class="subTitleTable") Dato
              td Podrá acceder siempre que tenga cursos matriculados. Validamos en simulador que sí tenemos acceso.

        .contentTable
          table.speechPortalPAU
            tr
              th(class="titleTable") Speech Validacion Portal PAU
            tr
              td
                textarea(readonly="true")= speechPortalPAU


    include ../includes/footer.pug

    script(src="script/app.js") 